## DSC650-T301 Big Data (2235-1)
## 5/16/2023
## Joshua Greenert

## 10.1.a

In [1]:
# Create a tokenize function that splits a sentence into words. Ensure that your tokenizer removes basic punctuation.
import string

testString = "the ! fat cat sat on the stoop, and then went up."

def tokenize(sentence):
    sentence = sentence.translate(str.maketrans('', '', string.punctuation))
    tokens = sentence.split()
    
    return tokens

In [2]:
tokenize(testString)

['the', 'fat', 'cat', 'sat', 'on', 'the', 'stoop', 'and', 'then', 'went', 'up']

## 10.1.b

In [3]:
# Implement an `ngram` function that splits tokens into N-grams. 
def ngram(tokens, n):
    ngrams = []
    # Create n-grams using a sliding window approach
    for i in range(len(tokens) - n + 1):
        ngram = tokens[i:i+n]
        ngrams.append(ngram)
    return ngrams

## 10.1.c

In [4]:
# Implement an one_hot_encode function to create a vector from a numerical vector from a list of tokens.
def one_hot_encode(tokens, num_words):
    token_index = {}
    results = []
    
    # Assign unique index to each unique token
    for token in tokens:
        if token not in token_index:
            token_index[token] = len(token_index) + 1
    
    # Create the one-hot encoded vector
    for token in tokens:
        encoding = [0] * num_words
        token_idx = token_index[token]
        encoding[token_idx - 1] = 1
        results.append(encoding)
    
    return results

## 10.2

In [12]:
# Using listings 6.16, 6.17, and 6.18 in Deep Learning with Python as a guide, 
# train a sequential model with embeddings on the IMDB data found in data/external/imdb/. 
# Produce the model performance metrics and training and validation accuracy curves within the Jupyter notebook
import os
import pandas as pd

folder_path_pos = '../../../data/external/imdb/aclImdb/train/pos'
folder_path_neg = '../../../data/external/imdb/aclImdb/train/neg'

# Create an empty list to store the dataset
dataset = []
labels = []

# Iterate through the positive files
for filename in os.listdir(folder_path_pos):
    if filename.endswith(".txt"):
        file_path = os.path.join(folder_path_pos, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            content = file.read()
            dataset.append(content)
            labels.append(1) 

# Iterate through the negative files
for filename in os.listdir(folder_path_neg):
    if filename.endswith(".txt"):
        file_path = os.path.join(folder_path_neg, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            content = file.read()
            dataset.append(content)
            labels.append(0)
            
# Create a DataFrame from the dataset
df_train = pd.DataFrame({'Text': dataset, 'Label': labels})

df_train.head(5)

                                                Text  Label
0  Bromwell High is a cartoon comedy. It ran at t...      1
1  Homelessness (or Houselessness as George Carli...      1
2  Brilliant over-acting by Lesley Ann Warren. Be...      1
3  This is easily the most underrated film inn th...      1
4  This is not the typical Mel Brooks film. It wa...      1

In [13]:
# Perform the same operation with the test data
folder_path_pos = '../../../data/external/imdb/aclImdb/test/pos'
folder_path_neg = '../../../data/external/imdb/aclImdb/test/neg'

# Create an empty list to store the dataset
dataset = []
labels = []

# Iterate through the positive files
for filename in os.listdir(folder_path_pos):
    if filename.endswith(".txt"):
        file_path = os.path.join(folder_path_pos, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            content = file.read()
            dataset.append(content)
            labels.append(1) 

# Iterate through the negative files
for filename in os.listdir(folder_path_neg):
    if filename.endswith(".txt"):
        file_path = os.path.join(folder_path_neg, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            content = file.read()
            dataset.append(content)
            labels.append(0)
            
# Create a DataFrame from the dataset
df_test = pd.DataFrame({'Text': dataset, 'Label': labels})

df_test.head(5)

                                                Text  Label
0  I went and saw this movie last night after bei...      1
1  Actor turned director Bill Paxton follows up h...      1
2  As a recreational golfer with some knowledge o...      1
3  I saw this film in a sneak preview, and it is ...      1
4  Bill Paxton has taken the true story of the 19...      1

In [11]:
import numpy as np
from tensorflow import keras
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout
import matplotlib.pyplot as plt

maxlen = 200  # maximum sequence length
x = pad_sequences(df['Text'], maxlen=maxlen)
y = df['Label']

embedding_dim = 100

# Create the model
model = Sequential()
model.add(Embedding(input_dim=10000, output_dim=embedding_dim, input_length=maxlen))
model.add(LSTM(units=64, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(units=1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

ValueError: invalid literal for int() with base 10: "assic line: INSPECTOR: I'm here to sack one of your teachers. STUDENT: Welcome to Bromwell High. I expect that many adults of my age think that Bromwell High is far fetched. What a pity that it isn't

In [ ]:
# Set a history object.
history = model.fit(x, y, epochs=10, batch_size=128)

In [ ]:
# Plot the data 
plt.plot(history.history['accuracy'])
plt.title('Training Accuracy')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.show()

In [ ]:
# Plot loss and accuracy
loss, accuracy = model.evaluate(x, y)
print('Training Loss:', loss)
print('Training Accuracy:', accuracy)

## 10.3

In [ ]:
# Using listing 6.27 in Deep Learning with Python as a guide, fit the same data with an LSTM layer. 
# Produce the model performance metrics and training and validation accuracy curves within the Jupyter notebook.

## 10.4

In [ ]:
# Using listing 6.46 in Deep Learning with Python as a guide, fit the same data with a simple 1D convnet. 
# Produce the model performance metrics and training and validation accuracy curves within the Jupyter notebook.